<tr class="afl-field-list-item">
  <td><button class="afl-field-list-item-delete close">&times;</button></td>
  <td>{{entity.caption}}</td>
  <td>{{caption}}</td>
  <td><a class="afl-field-list-item-caption" href="#">{{caption}}</a></td>
</tr>