<div class="afl-main well span11">
  <legend class="afl-caption">{{caption}}</legend>
  <div class="afl-scrollable afl-field-target">
    <table class="table table-hover afl-field-list">
      <thead>
        <tr>
          <th class="afl-field-list-header-delete"></th>
          <th class="afl-field-list-header-entity">Table</th>
          <th class="afl-field-list-header-attribute">Field</th>
          <th class="afl-field-list-header-caption">Display As</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
