.afp-main {
  max-height: 500px;
}

.afp-main.well {
  padding-top: 0;
}

.afp-scrollable {
  overflow-y: scroll;
  height: 400px;
}

.afp-model-caption {
  margin-bottom: 5px;
}

.afp-attribute {
  cursor: pointer;
  color: #0088cc;
}