.afl-main {
  max-height: 500px;
}

.afl-main.well {
  padding-top: 0;
}

.afl-scrollable {
  overflow-y: scroll;
  height: 400px;
}

.afl-caption {
  margin-bottom: 5px;
}

.afl-field-list {
  width: 100%;
}

.afl-field-list-header-entity {
  width: 30%;
}

.afl-field-list-header-attribute {
  width: 30%;
}

.afl-field-list-header-delete {
  width: 30px;
}

.afl-field-list-header-caption {

}